[user]
	name = Holger Cremer
	email = HolgerCremer@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
  st=status
  ci=commit
  ca=commit -a
	lg = log --graph --decorate --abbrev-commit --branches
[core]
  editor=vim
	fileMode = false
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = black reverse
  frag = cyan reverse
  new = blue
  old = red
  commit = yellow
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[apply]
	whitespace = nowarn
[url "https://"]
	insteadOf = git://
[push]
	default = simple
[log]
	date = local
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
